body {
  padding: 0;
  margin: 0;
}
.hyperbolic {
  display: flex;
  position: absolute;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  font-family: "Times New Roman", Times, serif;
  font-size: 6em;
  color: rgb(58, 1, 1);
  font-style: italic;
  text-shadow: 1px 1px #aaa;
}
